<style>
.head_img{width:100px;height: 100px;
			display: block;
			margin: 0 auto;
			border-radius: 50px;
			}
{background-color: #fff}
.center{text-align: center;}
h1 {font-size: 18px;}
p {font-size:13px;}
<style/>